
<%= form_with model: @todo, url: '/todo' do |t| %>
<div class="center">
<div class="panel-body">
  <div>
    <%= t.label :title %><br>
   <%= t.text_field :title %>

  </div>
  <div>
    <%= t.label :completed_at %><br>
  <%= t.datetime_select :completed_at %>
  </div>
  <div>
    <%= t.label :note %><br>
  <%= t.text_area :note %>
  </div>
  <div>
   <%= t.select :priorty, ['High', 'Medium','Low'] %>
  </div>
  <div>
  <%= t.submit   %>
  </div>
</div>
</div>
<% end %>